/***/
/*==========  5.1 - Buttons  ==========*/

.btn-primary {
	color: $color-text-primary;
	background-color: $color-link;
	border-color: $color-link;
	text-transform: $text-transform-base;
	padding: 10px 12px;
	margin-bottom: $baseline;

	@media (min-width: 1200px) {
		background-color: $color-btn-secondary-link;
		border-color: $color-btn-secondary-link;
	}
}

.btn-primary:hover {
	color: $color-text-primary-darker;
	background-color: $color-link-hover;
	border-color: $color-link-hover;

	@media (min-width: 1200px) {
		background-color: $color-btn-secondary-link-hover;
		border-color: $color-btn-secondary-link-hover;
	}
}

.btn-default {
	margin: 5px 5px 5px 0px;
	color: $color-text-light;
	background-color: transparent;
	border-color: $color-text-light;
}

.btn-default:hover {
	color: $color-text-light;
	background-color: transparent;
	border-color: $color-text-light;
}

.btn-success {
	color: $color-text-primary;
	background-color: $color-link;
	border-color: $color-link;
	text-transform: $text-transform-base;
	padding: 10px 12px;

	@media (min-width: 1200px) {
		background-color: $color-btn-secondary-link;
		border-color: $color-btn-secondary-link;
	}
}

.btn-success:hover {
	color: $color-text-primary-darker;
	background-color: $color-link-hover;
	border-color: $color-link-hover;

	@media (min-width: 1200px) {
		background-color: $color-btn-secondary-link-hover;
		border-color: $color-btn-secondary-link-hover;
	}
}